<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- link css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Site</title>
</head>
<body>
    <!-- header-->
    <header style="background-image: url('../public/images/22.jpeg')">
            <!-- container = conteudo-->
        <div class="container">
            <nav>
                <a href="/home">
                    <img src="../public/images/logo...png" alt="logo">
                </a>
                <ul class="ul">
                    
                    <a href="/servicos">Checklist</a>
                    <a class="btn" href="/planodeacao">Plano de Ação</a>
                    

                    </div>
                </ul>
               

                </div>
            </nav>
            <section class="banner">
                <div class="banner-text">

                    <h1>CONSTRUÇÃO CIVIL</h1>
                </div>
            </section>
            
        </div>
             <!-- end container =  fim de conteudo-->

    </header>
        <!-- end header-->

        <section class="servicos">
            <div class="container">
                <h3></h3>
                <p>         </p>
           
            <!-- rows cards -->

           <div class="rows-cards">


            <!-- row card item 1 -->

                <div class="rows-card-item">
                    <img src="../public/images/calendario.png" alt="">
                    <a href="nr1"><p class="nome-servico"><strong>DISPOSIÇÕES GERAIS E GERENCIAMENTO DE RISCOS OCUPACIONAIS 
                    </strong></p></a>
                    <p class="descricao-servico">
                        
                    </p>
                </div>


          <div class="rows-card-item">
            <img src="../public/images/estrada-interditada.png" alt="">
            <a href="/NR-03"><p class="nome-servico"><strong>EMBARGO OU INTERDIÇÃO 
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/dia-de-trabalho.png" alt="">
            <a href="/NR-03"><p class="nome-servico"><strong>Serviços Especializados em Engenharia de Segurança em Medicina do Trabalho 
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/protecao.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Comissão Interna de Prevenção de Acidentes
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/medicina-alternativa.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Programa de Controle Médico de Saúde Ocupacional (PCMSO)
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/apartamentos.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Edificações 
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

      
        <div class="rows-card-item">
            <img src="../public/images/ambiental.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Programas de Prevenção de Riscos Ambientais 
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/quadro-de-distribuicao.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Segurança em Instalações e Serviços em Eletricidade            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/manutencao.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Segurança no Trabalho em Máquinas e Equipamentos</strong></p></a>
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/trabalhador.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Atividades e Operações Insalubres 
            </strong></p></a>
            <p class="descricao-servico">
               
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/risco.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Atividades e Operações Perigosas 
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>
        
        <div class="rows-card-item">
            <img src="../public/images/antropologia.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Ergonomia
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/investigacao.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>Fiscalização e Penalidades
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

       

        
           </div>
           <!-- end rows -->
            </div>
        </section>
        <!-- end seção serviços -->


        







        
           
           

        </section>
        <!-- footer -->
        <footer class="footer">
            <div  class="container">
                <div class="links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
                <p>Desenvolvido por Keyla Beatriz</p>
            </div>
        </footer>
        <!-- end footer -->
        <script src="C:\Users\Keyla Beatriz\safety_tech\public\js\main.js"></script>

</body>
</html>