<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- link css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Site</title>
</head>
<body>
    <!-- header-->
    <header style="background-image: url('../public/images/tst.jpeg')">
            <!-- container = conteudo-->
        <div class="container">
            <nav>
                <a href="/">
                    <img src="../public/images/logo...png" alt="logo">
                </a>
                <ul class="ul">
                    <a href="#">Home</a>
                    <a href="/servicos">Checklist</a>
                    <a href="/escolhatreinamento">Treinamento</a>
                    <a href="/servicos">Quiz</a>
                    <a href="/planodeacao">Plano de Ação</a>
                    <a class="btn" href="/servicos">Relatorio</a>
                    

                    </div>
                </ul>
            
               
                </div>
            </nav>
            <section class="banner">
                <div class="banner-text">

                    <h1>Checklist</h1>
                </div>
            </section>
            
        </div>
             <!-- end container =  fim de conteudo-->

    </header>
        <!-- end header-->

        <section class="servicos">
            <div class="container">
                <h3>NR's GERAIS</h3>
                <p>         </p>
           
            <!-- rows cards -->

           <div class="rows-cards">


            <!-- row card item 1 -->

                <div class="rows-card-item">
                    <img src="../public/images/calendario.png" alt="">
                    <a href="/check18"><p class="nome-servico"><strong>NR-1 - DISPOSIÇÕES GERAIS E GERENCIAMENTO DE RISCOS OCUPACIONAIS 
                    </strong></p></a>
                    <p class="descricao-servico">
                        Estabelece todos os campos de atuação de todas as outras 
                        normas. Além disso, também determina as obrigações e os 
                        direitos tanto do Governo, quanto dos empregadores e dos 
                        colaboradores.

                    </p>
                </div>


        <div class="rows-card-item">
            <img src="../public/images/medicina-alternativa.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 7 – Programa de Controle Médico de Saúde Ocupacional (PCMSO)
            </strong></p></a>
            <p class="descricao-servico">
                Tem como principal objetivo estabelecer a obrigatoriedade dos exames 
                ocupacionais que servem para atestar a saúde física dos trabalhadores. 
                É através do PCMSO que se pode avaliar se o colaborador continua saudável 
                ou não. 
            </p>
        </div>


      
        <div class="rows-card-item">
            <img src="../public/images/ambiental.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 9 – Programas de Prevenção de Riscos Ambientais 
            </strong></p></a>
            <p class="descricao-servico">
                Determina a obrigação de toda empresa que admita funcionários em regime 
                CLT a criação do PPRA. O Programas de Prevenção de Riscos Ambientais tem 
                como objetivo identificar para evitar os potenciais riscos no ambiente de 
                trabalho. 
            </p>
        </div>

        
        <div class="rows-card-item">
            <img src="../public/images/antropologia.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 17 – Ergonomia
            </strong></p></a>
            <p class="descricao-servico">
                Visa unir as condições de trabalho com as questões 
                psicofisiológicas dos trabalhadores. O intuito é fornecer
                um ambiente de trabalho confortável que evite a possibilidade
                de doenças por esforço repetitivo, por exemplo.
            </p>
        </div>

       

        
           </div>
           <!-- end rows -->
            </div>
        </section>
        <!-- end seção serviços -->


        



        <section class="servicos">
            <div class="container">
                <h3>NR's SETORIAIS</h3>
                <p>         </p>
           
            <!-- rows cards -->

           <div class="rows-cards">

            <div class="rows-card-item">
                <img src="../public/images/civil-engineering.png" alt="">
                <a href="check18"><p class="nome-servico"><strong>NR 18 – Condições e Meio Ambiente de Trabalho na Indústria da Construção  
                </strong></p></a>
                <p class="descricao-servico">
                    Constam todas as medidas de proteção a serem executadas na 
                    indústria da construção. Essas medidas deverão ser tomadas 
                    antes, durante e depois de obra, visando a proteção de todos
                    que trabalham naquele local. 
                </p>
            </div>

            <div class="rows-card-item">
                <img src="../public/images/hospital.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 32 – Segurança e Saúde no Trabalho em Estabelecimentos de Saúde
     
                </strong></p></a>
                <p class="descricao-servico">
                    Tem como objetivo definir as obrigatoriedades que poderão proporcionar 
                    segurança àqueles que trabalham em estabelecimentos de saúde. O intuito 
                    principal é evitar doenças ocupacionais provenientes de contágios e etc. 
                </p>
            </div>


    


            </div>
            <!-- end rows -->
            </div>
        </section>
        <!-- end seção serviços -->




        <section class="servicos">
            <div class="container">
                <h3>NR's ESPECIAIS</h3>
                <p>         </p>
           
            <!-- rows cards -->

           <div class="rows-cards">

            <div class="rows-card-item">
                <img src="../public/images/mascarar.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 6 – Equipamentos de Proteção Individual – EPI
                </strong></p></a>
                <p class="descricao-servico">
                    Determina os tipos de equipamentos que o empregador deve fornecer ao 
                    colaborador, como e quando deve fazer isso. Além do mais, nela consta 
                    a lista completa dos EPIs para cada tipo de proteção.
                </p>
            </div>
    

            <div class="rows-card-item">
                <img src="../public/images/importar.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 11 – Transporte, Movimentação, Armazenagem e Manuseio de Materiais
                </strong></p></a>
                <p class="descricao-servico">
                    Trata sobre as medidas preventivas para todo tipo de material ou equipamento 
                    de transporte, como guindastes, elevadores, etc. O intuito, como todas as 
                    Normas Regulamentadoras, é atenuar os riscos de Acidentes de Trabalho.
                </p>
            </div>
    
            <div class="rows-card-item">
                <img src="../public/images/manutencao.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 12 – Segurança no Trabalho em Máquinas e Equipamentos
                </strong></p></a>
                <p class="descricao-servico">
                    Define as obrigatoriedades sobre os locais de instalação, máquinas e equipamentos
                    que serão utilizados por trabalhadores. Além disso, também é nesta NR que são 
                    definidas as regras de manutenção de maquinário e etc. 
                </p>
            </div>

            
           

            <div class="rows-card-item">
                <img src="../public/images/materiais-inflamaveis.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 20 – Segurança e Saúde no Trabalho com Inflamáveis e Combustíveis 
                </strong></p></a>
                <p class="descricao-servico">
                Define as boas práticas a serem realizadas pelos empregadores 
                e trabalhadores que atuam com Inflamáveis e Combustíveis. As 
                medidas dizem respeito às condições de armazenamento, como também de manuseio, etc.
                </p>
            </div>
    
           

            <div class="rows-card-item">
                <img src="../public/images/corpo-de-bombeiros.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 23 – Proteção Contra Incêndios
                </strong></p></a>
                <p class="descricao-servico">
                    Deve ser seguida por todas as empresas, pois define as condições 
                    de segurança contra possibilidade de incêndios. Aqui entram as 
                    saídas de emergência, indicações de saída, sinalizações, etc. 
                </p>
            </div>
    
            
            <div class="rows-card-item">
                <img src="../public/images/gestao-de-residuos.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 25 – Resíduos Industriais 
                </strong></p></a>
                <p class="descricao-servico">
                    Trata a respeito da eliminação de todo tipo de resíduo industrial
                    em virtude de que pode oferecer riscos à saúde do trabalhador. Entre
                    eles podemos mencionar os resíduos tóxicos, radioativos, gasosos ou
                    sólidos, riscos biológicos, etc.
                </p>
            </div>
    
            <div class="rows-card-item">
                <img src="../public/images/tabuleta.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 26 – Sinalização de Segurança 
                </strong></p></a>
                <p class="descricao-servico">
                    Regulamenta as cores utilizadas nas sinalizações de segurança dos 
                    ambientes de trabalho. O intuito é indicar zonas de perigo, organizar
                    o local de trabalho e prevenir acidentes ocupacionais. 
                </p>
            </div>
            
           
            <div class="rows-card-item">
                <img src="../public/images/protocolos.png" alt="">
                <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 33 – Segurança e Saúde no Trabalho em Espaços Confinados
                </strong></p></a>
                <p class="descricao-servico">
                    Determina as medidas de controle de risco que deverão ser obrigatoriamente 
                    adotadas pelos empregadores que possuem espaços confinados. Essa norma visa 
                    proteger os trabalhadores que atuam nesses lugares mesmo que indiretamente. 
                </p>
            </div>

       




            </div>
            <!-- end rows -->
            </div>
        </section>
        <!-- end seção serviços -->









        <footer class="footer">
            <div  class="container">
                <div class="links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/safety_tech.1?utm_source=qr"><i class="fa fa-instagram"></i></a>
                </div>
                <p>DESENVOLVIDO POR SAFETY TECH</p>
            </div>
        </footer>


    
                   
        <!-- end footer -->
        <script src="C:\Users\Keyla Beatriz\safety_tech\public\js\main.js"></script>

</body>
</html>