<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- link css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Site</title>
</head>
<body>
    <!-- header-->
    <header style="background-image: url('../public/images/3.jpg')">
            <!-- container = conteudo-->
        <div class="container">
            <nav>
                <a href="/home">
                    <img src="../public/images/logo...png" alt="logo">
                </a>

                <ul class="ul">
                    <a href="/servicos">Checklist</a>
                    <a href="/planodeacao">Plano de Ação</a>
                    <a href="/escolhatreinamento">Treinamento</a>
                    <a href="https://projeto.quizclass.net/protecao-em-foco-quiz-da-nr-6" target="_blank">Avaliação</a>
                    <a href="https://www.canva.com/design/DAF1l2tp130/j2_j72axiS3Y2T58e9jedg/view?utm_content=DAF1l2tp130&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel" target="_blank">Relatório</a>
                    </div>
                </ul>
                
            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>SAFETY TECH</h1>
                    <p>Segurança em cada detalhe, confiança em cada checklist.</p>
                    <a href="./login.ejs" class="btn">Acessar</a>
                </div>
            </section>
            
        </div>
             <!-- end container =  fim de conteudo-->

    </header>
        <!-- end header-->

        <!-- faça mais -->
        <section class="faca-mais">
            <!--container-->
            <div class="container">
                <div class="faca-mais-text"> 
                    <h3>CHECKLIST</h3>
                    <p>
                        A utilização de checklists é fundamental para garantir a qualidade e a 
                        eficiência de tarefas e projetos, dentro da segurança do trabalho é um 
                        item extremamente importante porque ajuda a evitar acidentes, que podem 
                        ser até fatais. Por meio dessa ferramenta, é possível verificar se todas 
                        as etapas foram realizadas corretamente e se não houve omissões ou erros 
                        que possam comprometer o resultado final. O checklist é uma prática detalhada 
                        que avalia diferentes procedimentos, locais de trabalho e equipamentos a fim 
                        de que os requisitos de segurança sejam cumpridos. 
                    </p>
                    <a href="servicos.ejs" class="btn">Acessar</a>
                </div>
                <div class="faca-mais-img">
                    <img src="../public/images/check.svg" alt="">
                </div>
            </div>





            <div class="container">
                <div class="faca-mais-img">
                    <img src="../public/images/kisspng-digital-marketing-business-model-business-plan-web-necesito-una-idea-mi-publi-online-5c097d9c971aa4.8413507715441258526189.png" alt="">
                </div>
                <div class="faca-mais-text"> 
                    <h3>PLANO DE AÇÃO</h3>
                    <p>
                        É realizado com o auxílio principal da avaliação do checklist, é um 
                        planejamento conduzido pelos profissionais da área e a liderança em geral 
                        para conseguir melhores resultados na prevenção de acidentes. Este plano é 
                        um passo além daquelas atividades básicas de incentivo ao uso de EPIs. É um 
                        documento que serve para registrar todos os procedimentos relacionados à 
                        segurança do trabalho e, por isso, nele devem ser registrados as inconformidades, 
                        data, hora e local onde foram encontrados. Por fim, designar quem e quando irá sanar 
                        tal problema. 
                    </p>
                    <a href="planodeacao.ejs" class="btn">Acessar</a>
                </div>  
            </div>


            <div class="container">
                <div class="faca-mais-text"> 
                    <h3>TREINAMENTO</h3>
                    <p>
                        É a qualificação da pessoa para execução de suas funções com mais qualidade dentro 
                        do ambiente laboral. O treinamento tem como objetivo qualificar, desenvolver habilidades 
                        e conhecimentos aos profissionais, com o intuito de assim desempenharem melhor suas tarefas 
                        com maior eficiencia e segurança.
                    </p>
                    <a href="servicos.ejs" class="btn">Acessar</a>
                </div>
                <div class="faca-mais-img">
                    <img src="../public/images/—Pngtree—conference business training learning illustration_5056714.png" alt="">
                </div>
            </div>





            <div class="container">
                <div class="faca-mais-img">
                    <img src="../public/images/—Pngtree—creative report_2610528.png" alt="">
                </div>
                <div class="faca-mais-text"> 
                    <h3>RELATÓRIO</h3>
                    <p>
                        Este relatório de progresso de 
                        desempenho é um trabalho contínuo em andamento; uma forma de sua organização 
                        acompanhar seu impacto e melhorias ao longo do tempo. Esta seção descreve sua 
                        estratégia para continuar o bom trabalho realizado até agora.
                    </p>
                    <a href="planodeacao.ejs" class="btn">Acessar</a>
                </div>  
            </div>




           

        

            <!-- end container-->

        </section>
        <!-- end faça mais -->

        <!--depoimentos-->
        <section class="depoimentos">
            <div class="container">
                <h3>QUEM SOMOS NÓS?</h3>
                <p></p>
                    <div class="cards">
                        <!-- card item 1 -->
                        <div class="card-item">
                            <img src="../public/images/atalaa.jpeg" alt="atala mellina">
                            <p class="nome-user">Átala Mellina</p>
                            <p class="depoimentos-user">
                                23 anos, técnica em enfermagem e segurança do trabalho. 
                                Responsavel pelas redes sociais e setores organizacionais.
                            </p>
                            
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 1 -->

                         <!-- card item 2 -->
                         <div class="card-item">
                            <img src="../public/images/keylaa.jpeg" alt="keyla beatriz">
                            <p class="nome-user">Keyla Beatriz</p>
                            <p class="depoimentos-user">
                                21 anos, técnica em segurança do trabalho. Responsável Desenvolvimento do site e pesquisas em campo.
                            </p>
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 2 -->

                         <!-- card item 3 -->
                         <div class="card-item">
                            <img src="../public/images/marcio.jpeg" alt="marcio vinicius">
                            <p class="nome-user">Marcio Vínicius</p>
                            <p class="depoimentos-user">
                                18 anos, técnico em desenvolvimento de sistemas. Responsável pelo desenvolvimento e documentação do site.
                            </p>
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 3 -->

                         <!-- card item 4 -->
                         <div class="card-item">
                            <img src="../public/images/renataa.jpeg" alt="renata oliveira">
                            <p class="nome-user">Renata Oliveira</p>
                            <p class="depoimentos-user">
                                21 anos, técnica em segurança do trabalho. Responsável por pesquisar e elaborar conteúdos pedagogicos dos treinamentos.


                            </p>
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 4 -->
                    </div>
            </div>
        </section>
        <!-- end depoimentos -->

       

        <!-- faça mais -->
        <section class="faca-mais">
            <!--container-->

            <!-- end container-->

        </section>
        <!-- end faça mais -->

        <!-- footer -->
        <footer class="footer">
            <div  class="container">
                <div class="links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/safety_tech.1?utm_source=qr"><i class="fa fa-instagram"></i></a>
                </div>
                <p>DESENVOLVIDO POR SAFETY TECH</p>
            </div>
        </footer>
        <!-- end footer -->
        <script src="../public/js/main.js"></script>

</body>
</html>