<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário | GN</title>
    <link rel="stylesheet" href="../public/css/nr.css">
    
</head>
<body>

    <div class="box">
        <form action="/checklist" method="post" class="formCheck">
            <fieldset>
                <legend><b>NR-01 - Disposições Gerais
                 </b></legend>
                <br>
                <div class="inputBox">
                    <input type="text" name="nome_completo" id="nome_completo" class="inputUser" required>
                    <label for="nome_completo" class="labelInput">Nome completo</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="setor" id="setor" class="inputUser" required>
                    <label for="setor" class="labelInput">Setor</label>
                </div>
                <br><br>
    
            <fieldset class="grupo">
                <div id="check">
                    <label><strong>01 - A empresa cumpre e faz cumprir as Normas Regulamentadoras -
                        NR, relativas à segurança e medicina do trabalho, a ela cabível? </strong></label><br><br>
                    <input type="radio" id="pergunta1" name="pergunta1" value="true">
                    <label for="pergunta1"> SIM</label>
                    <input type="radio" id="pergunta1" name="pergunta1" value="false">
                    <label for="pergunta1">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>02-  A empresa cumpre e faz cumprir outras disposições, regulamentos
                        sanitários do Estado ou Município, e outras, oriundas de
                        convenções e acordos coletivos de trabalho?</strong></label><br><br>
                        <input type="radio" id="pergunta2" name="pergunta2" value="true">
                    <label for="pergunta2"> SIM</label>
                    <input type="radio" id="pergunta2" name="pergunta2" value="false">
                    <label for="pergunta2">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>03 -  A empresa elabora ordens de serviço sobre segurança e medicina
                        do trabalho aos trabalhadores?</strong></label><br><br>
                    <input type="radio" id="pergunta3" name="pergunta3" value="true">
                    <label for="pergunta3"> SIM</label>
                    <input type="radio" id="pergunta3" name="pergunta3" value="false">
                    <label for="pergunta3">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>04 - A empresa repassa as instruções da ordem de serviço e os direitos
                        e deveres, que os empregados devem conhecer e cumpri-los,
                        visando à promoção da segurança e saúde dos trabalhadores?</strong></label><br><br>
                        <input type="radio" id="pergunta4" name="pergunta4" value="true">
                        <label for="pergunta4"> SIM</label>
                        <input type="radio" id="pergunta4" name="pergunta4" value="false">
                        <label for="pergunta4">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>05 -  A empresa informa os empregados de que serão passíveis de
                        punição, pelo descumprimento das ordens de serviço expedidas? </strong></label><br><br>
                    <input type="radio" id="pergunta5" name="pergunta5" value="true">
                    <label for="pergunta5"> SIM</label>
                    <input type="radio" id="pergunta1" name="pergunta5" value="false">
                    <label for="pergunta5">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>06 - OA empresa estabelece medidas para eliminar ou neutralizar a
                        insalubridade?</strong></label><br><br>
                    <input type="radio" id="pergunta6" name="pergunta6" value="true">
                    <label for="pergunta6"> SIM</label>
                    <input type="radio" id="pergunta6" name="pergunta6" value="false">
                    <label for="pergunta6">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>07 - A empresa informa aos empregados os riscos profissionais que
                        possam originar-se nos locais de trabalho?</strong></label><br><br>
                    <input type="radio" id="pergunta7" name="pergunta7" value="true">
                    <label for="pergunta7"> SIM</label>
                    <input type="radio" id="pergunta7" name="pergunta7" value="false">
                    <label for="pergunta7">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>08 - A empresa informa os meios para prevenir e limitar tais riscos e as
                        medidas adotadas pela empresa? </strong></label><br><br>
                        <input type="radio" id="pergunta8" name="pergunta8" value="true">
                        <label for="pergunta8"> SIM</label>
                        <input type="radio" id="pergunta8" name="pergunta8" value="false">
                        <label for="pergunta8">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>09 - A empresa fornece e informa aos empregados a forma correta no
                        uso dos EPI’s e EPC’s?
                         </strong></label><br><br>
                         <input type="radio" id="pergunta9" name="pergunta9" value="true">
                         <label for="pergunta9"> SIM</label>
                         <input type="radio" id="pergunta9" name="pergunta9" value="false">
                         <label for="pergunta9">NÃO</label>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div id="check">
                    <label><strong>10 - A empresa informa aos empregados os resultados dos exames
                        médicos e de exames complementares de diagnóstico, aos quais
                        os próprios trabalhadores foram submetidos? </strong></label><br><br>
                        <input type="radio" id="pergunta10" name="pergunta10" value="true">
                        <label for="pergunta10"> SIM</label>
                        <input type="radio" id="pergunta10" name="pergunta10" value="false">
                        <label for="pergunta10">NÃO</label>
                </div>
            </fieldset>
   
            <br><br>
            </fieldset>

            <input type="submit" name="submit" id="submit">

        </form>
    </div>
</body>
</html>