<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- link css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Site</title>
</head>
<body>
    <!-- header-->
    <header style="background-image: url('../public/images/3.jpg')">
            <!-- container = conteudo-->
        <div class="container">
            <nav>
                <a href="/">
                    <img src="../public/images/logo...png" alt="logo">
                </a>

                <ul class="ul">
                    <a href="#">Home</a>
                    <a href="/servicos">Checklist</a>
                    <a href="/escolhatreinamento">Treinamento</a>
                    <a href="/servicos">Quiz</a>
                    <a href="/planodeacao">Plano de Ação</a>
                    <a class="btn" href="/servicos">Relatorio</a>

                    <a class="btn" href="/planodeacao">Plano de Ação</a>
                    
                    </div>
                </ul>
                
            </nav>
            <section class="banner">
                <div class="banner-text">
                    <h1>SAFETY TECH</h1>
                    <p>Segurança em cada detalhe, confiança em cada checklist.</p>
                    <a href="./login.ejs" class="btn">Acessar</a>
                </div>
            </section>
            
        </div>
             <!-- end container =  fim de conteudo-->

    </header>
        <!-- end header-->

        <!-- faça mais -->
        <section class="faca-mais">
            <!--container-->
            <div class="container">
                <div class="faca-mais-text"> 
                    <h3>CHECKLIST</h3>
                    <p>
                        Um checklist é uma lista de seleção ou um conjunto de itens que 
                        precisam ser revisados, avaliados, concluídos ou selecionados em 
                        uma determinada ordem ou de acordo com critérios específicos. É 
                        uma ferramenta comumente usada para garantir que todas as tarefas 
                        ou elementos essenciais de uma atividade, projeto, processo ou 
                        procedimento sejam devidamente cumpridos e concluídos. 
                    </p>
                    <a href="servicos.ejs" class="btn">Acessar</a>
                </div>


                <div class="faca-mais-img">
                    <img src="../public/images/check.svg" alt="">
                </div>
            </div>

            <div class="container">
                <div class="faca-mais-img">
                    <img src="../public/images/kisspng-digital-marketing-business-model-business-plan-web-necesito-una-idea-mi-publi-online-5c097d9c971aa4.8413507715441258526189.png" alt="">
                </div>
                <div class="faca-mais-text"> 
                    <h3>PLANO DE AÇÃO</h3>
                    <p>
                        Um plano de ação é um documento que descreve de forma detalhada as 
                        etapas específicas e os recursos necessários para alcançar um objetivo
                        ou resolver um problema. Ele é usado como uma ferramenta de gestão 
                        para orientar a implementação de estratégias e garantir que as ações 
                        sejam executadas de maneira eficiente e eficaz.
                    </p>
                    <a href="planodeacao.ejs" class="btn">Acessar</a>
                </div>  
            </div>

            <div class="container">
                <div class="faca-mais-img">
                    <img src="../public/images/kisspng-digital-marketing-business-model-business-plan-web-necesito-una-idea-mi-publi-online-5c097d9c971aa4.8413507715441258526189.png" alt="">
                </div>
                <div class="faca-mais-text"> 
                    <h3>TREINAMENTO</h3>
                    <p>
                        Um plano de ação é um documento que descreve de forma detalhada as 
                        etapas específicas e os recursos necessários para alcançar um objetivo
                        ou resolver um problema. Ele é usado como uma ferramenta de gestão 
                        para orientar a implementação de estratégias e garantir que as ações 
                        sejam executadas de maneira eficiente e eficaz.
                    </p>
                    <a href="planodeacao.ejs" class="btn">Acessar</a>
                </div>  
            </div>

            <div class="container">
                <div class="faca-mais-img">
                    <img src="../public/images/kisspng-digital-marketing-business-model-business-plan-web-necesito-una-idea-mi-publi-online-5c097d9c971aa4.8413507715441258526189.png" alt="">
                </div>
                <div class="faca-mais-text"> 
                    <h3>QUIZ</h3>
                    <p>
                        Um plano de ação é um documento que descreve de forma detalhada as 
                        etapas específicas e os recursos necessários para alcançar um objetivo
                        ou resolver um problema. Ele é usado como uma ferramenta de gestão 
                        para orientar a implementação de estratégias e garantir que as ações 
                        sejam executadas de maneira eficiente e eficaz.
                    </p>
                    <a href="planodeacao.ejs" class="btn">Acessar</a>
                </div>  
            </div>

            <div class="container">
                <div class="faca-mais-img">
                    <img src="../public/images/kisspng-digital-marketing-business-model-business-plan-web-necesito-una-idea-mi-publi-online-5c097d9c971aa4.8413507715441258526189.png" alt="">
                </div>
                <div class="faca-mais-text"> 
                    <h3>RELATORIO</h3>
                    <p>
                        Um plano de ação é um documento que descreve de forma detalhada as 
                        etapas específicas e os recursos necessários para alcançar um objetivo
                        ou resolver um problema. Ele é usado como uma ferramenta de gestão 
                        para orientar a implementação de estratégias e garantir que as ações 
                        sejam executadas de maneira eficiente e eficaz.
                    </p>
                    <a href="planodeacao.ejs" class="btn">Acessar</a>
                </div>  
            </div>

            <!-- end container-->

        </section>
        <!-- end faça mais -->

        <!--depoimentos-->
        <section class="depoimentos">
            <div class="container">
                <h3>QUEM SOMOS NÓS?</h3>
                <p></p>
                    <div class="cards">
                        <!-- card item 1 -->
                        <div class="card-item">
                            <img src="../public/images/atalaa.jpeg" alt="atala mellina">
                            <p class="nome-user">Átala Mellina</p>
                            <p class="depoimentos-user">
                                23 anos, técnica em enfermagem e segurança do trabalho. 
                                Responsavel pelas redes sociais e setores organizacionais.
                            </p>
                            
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 1 -->

                         <!-- card item 2 -->
                         <div class="card-item">
                            <img src="../public/images/keylaa.jpeg" alt="keyla beatriz">
                            <p class="nome-user">Keyla Beatriz</p>
                            <p class="depoimentos-user">
                                21 anos, técnica em segurança do trabalho. Responsável Desenvolvimento do site.
                            </p>
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 2 -->

                         <!-- card item 3 -->
                         <div class="card-item">
                            <img src="../public/images/marcio.jpeg" alt="marcio vinicius">
                            <p class="nome-user">Marcio Vínicius</p>
                            <p class="depoimentos-user">
                                18 anos, técnico em desenvolvimento de sistemas. Responsável pela elaboração da documentação do site.
                            </p>
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 3 -->

                         <!-- card item 4 -->
                         <div class="card-item">
                            <img src="../public/images/renataa.jpeg" alt="renata oliveira">
                            <p class="nome-user">Renata Oliveira</p>
                            <p class="depoimentos-user">
                                21 anos, técnica em segurança do trabalho. Responsável pela pesquisa e elaboração do checklist.
                            </p>
                            <div class="estrelas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <!-- end card item 4 -->
                    </div>
            </div>
        </section>
        <!-- end depoimentos -->

       

        <!-- faça mais -->
        <section class="faca-mais">
            <!--container-->

            <!-- end container-->

        </section>
        <!-- end faça mais -->

        <!-- footer -->
        <footer class="footer">
            <div  class="container">
                <div class="links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/safety_tech.1?utm_source=qr"><i class="fa fa-instagram"></i></a>
                </div>
                <p>DESENVOLVIDO POR SAFETY TECH</p>
            </div>
        </footer>
        <!-- end footer -->
        <script src="../public/js/main.js"></script>

</body>
</html>