<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- link css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Site</title>
</head>
<body>
    <!-- header-->
    <header style="background-image: url('../public/images/tst.jpeg')">
            <!-- container = conteudo-->
        <div class="container">
            <nav>
                <a href="/">
                    <img src="../public/images/logo...png" alt="logo">
                </a>
                <ul class="ul">
                    <a href="#">Home</a>
                    <a href="/servicos">Checklist</a>
                    <a href="/escolhatreinamento">Treinamento</a>
                    <a href="/quiz">Avaliação</a>
                    <a href="/planodeacao">Plano de Ação</a>
                
                    

                    </div>
                </ul>
               
                </div>
            </nav>
            <section class="banner">
                <div class="banner-text">

                    <h1>Checklist</h1>
                </div>
            </section>
            
        </div>
             <!-- end container =  fim de conteudo-->

    </header>
        <!-- end header-->

        <section class="servicos">
            <div class="container">
           
            <!-- rows cards -->

           <div class="rows-cards">


            <!-- row card item 1 -->

        <div class="rows-card-item">
            <img src="../public/images/protecao.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>NR 5 – Comissão Interna de Prevenção de Acidentes
            </strong></p></a>
            <p class="descricao-servico">
                Determina a obrigatoriedade das empresas criarem a CIPA — Comissão 
                Interna de Prevenção de Acidentes. Como o nome já diz, esta é mais 
                uma estratégia para prevenir os índices de Acidentes do Trabalho. 
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"><img src="../public/images/mascarar.png" alt="" ></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 6 – Equipamentos de Proteção Individual – EPI</strong></p></a>
            <p class="descricao-servico">
                Determina os tipos de equipamentos que o empregador deve fornecer ao 
                colaborador, como e quando deve fazer isso. Além do mais, nela consta 
                a lista completa dos EPIs para cada tipo de proteção.
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"><img src="../public/images/apartamentos.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 8 – Edificações </strong></p></a>
            <p class="descricao-servico">
                Define as boas práticas necessárias para a segurança e integridade 
                física de todos os trabalhadores que atuam nas Edificações. 
            </p>
        </div>
        <div class="rows-card-item">
            <a href="/nr1"></a> <img src="../public/images/ambiental.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 9 – Programas de Prevenção de Riscos Ambientais </strong></p></a>
            <p class="descricao-servico">
                Determina a obrigação de toda empresa que admita funcionários em regime 
                CLT a criação do PPRA. O Programas de Prevenção de Riscos Ambientais tem 
                como objetivo identificar para evitar os potenciais riscos no ambiente de 
                trabalho. 
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"></a> <img src="../public/images/quadro-de-distribuicao.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 10 – Segurança em Instalações e Serviços em Eletricidade  </strong></p></a>
            <p class="descricao-servico">
                Tem como principal objetivo determinar as obrigações de todos aqueles que 
                trabalham com energia elétrica. Consequentemente, visa diminuir os índices 
                de Acidentes Ocupacionais causados por choques elétricos. 
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"><img src="../public/images/manutencao.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 12 – Segurança no Trabalho em Máquinas e Equipamentos</strong></p></a>
            <p class="descricao-servico">
                Define as obrigatoriedades sobre os locais de instalação, máquinas e equipamentos
                que serão utilizados por trabalhadores. Além disso, também é nesta NR que são 
                definidas as regras de manutenção de maquinário e etc. 
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"><img src="../public/images/trabalhador.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 15 – Atividades e Operações Insalubres </strong></p></a>
            <p class="descricao-servico">
                Estabelece os limites de tolerância para cada tipo de risco
                 que pode ser encontrado no ambiente de trabalho. Sendo 
                 assim, ultrapassando este limite, o trabalho pode ser 
                 considerado insalubre e de extremo risco para o trabalhador.
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"><img src="../public/images/risco.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 16 – Atividades e Operações Perigosas </strong></p></a>
            <p class="descricao-servico">
                Estabelece as responsabilidades do empregador e os direitos 
                dos trabalhadores que atuam em situações perigosas. Dependendo
                 do nível de exposição ao risco, o colaborador pode ou não 
                 receber o adicional salarial. 
            </p>
        </div>

        <div class="rows-card-item">
            <a href="/nr1"><img src="../public/images/antropologia.png" alt=""></a>
            <a href="/nr1"><p class="nome-servico"><strong>NR 17 – Ergonomia</strong></p></a>
            <p class="descricao-servico">
                Visa unir as condições de trabalho com as questões 
                psicofisiológicas dos trabalhadores. O intuito é fornecer
                um ambiente de trabalho confortável que evite a possibilidade
                de doenças por esforço repetitivo, por exemplo.
            </p>
        </div>

           <div class="rows-cards">

            <div class="rows-card-item">
                <a href="/nr1"><img src="../public/images/materiais-inflamaveis.png" alt=""></a>
                <a href="/nr1"><p class="nome-servico"><strong>NR 20 – Segurança e Saúde no Trabalho com Inflamáveis e Combustíveis </strong></p></a>
                <p class="descricao-servico">
                Define as boas práticas a serem realizadas pelos empregadores 
                e trabalhadores que atuam com Inflamáveis e Combustíveis. As 
                medidas dizem respeito às condições de armazenamento, como também de manuseio, etc.
                </p>
            </div>
    
            <div class="rows-card-item">
                <a href="/nr1"><img src="../public/images/energia-solar.png" alt=""></a>
                <a href="/nr1"><p class="nome-servico"><strong>NR 21 – Trabalho a Céu Aberto </strong></p></a>
                <p class="descricao-servico">
                    Estabelece as condições de trabalho para todos os trabalhadores 
                    que atuam a céu aberto. O principal objetivo dessa norma é assegurar
                    a proteção contra todo tipo de intempérie que possa prejudicar sua 
                    saúde. 
                </p>
            </div>

            <div class="rows-card-item">
                <a href="/nr1"><img src="../public/images/corpo-de-bombeiros.png" alt=""></a>
                <a href="/nr1"><p class="nome-servico"><strong>NR 23 – Proteção Contra Incêndios</strong></p></a>
                <p class="descricao-servico">
                    Deve ser seguida por todas as empresas, pois define as condições 
                    de segurança contra possibilidade de incêndios. Aqui entram as 
                    saídas de emergência, indicações de saída, sinalizações, etc. 
                </p>
            </div>
    
            <div class="rows-card-item">
                <a href="/nr1"><img src="../public/images/tabuleta.png" alt=""></a>
                <a href="nr1"><p class="nome-servico"><strong>NR 26 – Sinalização de Segurança </strong></p></a>
                <p class="descricao-servico">
                    Regulamenta as cores utilizadas nas sinalizações de segurança dos 
                    ambientes de trabalho. O intuito é indicar zonas de perigo, organizar
                    o local de trabalho e prevenir acidentes ocupacionais. 
                </p>
            </div>
            
            <div class="rows-card-item">
                <a href="/nr1"><img src="../public/images/protocolos.png" alt=""></a>
                <a href="/nr1"><p class="nome-servico"><strong>NR 33 – Segurança e Saúde no Trabalho em Espaços Confinados</strong></p></a>
                <p class="descricao-servico">
                    Determina as medidas de controle de risco que deverão ser obrigatoriamente 
                    adotadas pelos empregadores que possuem espaços confinados. Essa norma visa 
                    proteger os trabalhadores que atuam nesses lugares mesmo que indiretamente. 
                </p>
            </div>

            <div class="rows-card-item">
                <a href="/nr1"></a><img src="../public/images/homem-praticando-salto-em-altura.png" alt=""></a>
                <a href="/nr1"><p class="nome-servico"><strong>NR 35 – Trabalho em Altura</strong></p></a>
                <p class="descricao-servico">
                    Tem como principal objetivo promover a segurança dos trabalhadores que atuam 
                    em alturas. Para isso, define as medidas de segurança adotadas como, por exemplo, 
                    os EPIs, entre outros.  
                </p>
            </div>
    
                </p>
            </div>

            <!-- end rows -->
            </div>
        </section>
        <!-- end seção serviços -->

        <footer class="footer">
            <div  class="container">
                <div class="links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/safety_tech.1?utm_source=qr"><i class="fa fa-instagram"></i></a>
                </div>
                <p>DESENVOLVIDO POR SAFETY TECH</p>
            </div>
        </footer>


    
                   
        <!-- end footer -->
        <script src="C:\Users\Keyla Beatriz\safety_tech\public\js\main.js"></script>

</body>
</html>