<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- link css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Site</title>
</head>
<body>
    <!-- header-->
    <header style="background-image: url('../public/images/tst.jpeg')">
            <!-- container = conteudo-->
        <div class="container">
            <nav>
                <a href="/">
                    <img src="../public/images/logo...png" alt="logo">
                </a>
                <ul class="ul">
                    <a href="#">Home</a>
                    <a href="/servicos">Checklist</a>
                    <a href="/escolhatreinamento">Treinamento</a>
                    <a href="/quiz">Avaliação</a>
                    <a href="/planodeacao">Plano de Ação</a>
                    <a class="btn" href="/relatorio">Relatorio</a>
                

                    </div>
                </ul>
               
                </div>
            </nav>
            <section class="banner">
                <div class="banner-text">

                    <h1>NR - 10 SEGURANÇA EM INSTALAÇÕES E SERVIÇOS EM ELETRICIDADE</h1>
                </div>
            </section>
            
        </div>
             <!-- end container =  fim de conteudo-->

    </header>
        <!-- end header-->

        <section class="servicos">
            <div class="container">
           
            <!-- rows cards -->

           <div class="rows-cards">


            <!-- row card item 1 -->

        <div class="rows-card-item">
            <img src="../public/images/protecao.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>TREINAMENTO COMPLETO
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/mascarar.png" alt="">
            <a href="/Op"><p class="nome-servico"><strong>TREINAMENTO E QUESTIONARIO
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/apartamentos.png" alt="">
            <a href="nr.html/NR-03.htm"><p class="nome-servico"><strong>QUESTIONARIO
            </strong></p></a>
            <p class="descricao-servico">
               
            </p>
        </div>

        <div class="rows-card-item">
            <img src="../public/images/apartamentos.png" alt="">
            <a href="nr.html/NR-03.html"><p class="nome-servico"><strong>QUESTIONARIO ILUSTRADO
            </strong></p></a>
            <p class="descricao-servico">
                
            </p>
        </div>
       

            <!-- end rows -->
            </div>
        </section>
        <!-- end seção serviços -->

        <footer class="footer">
            <div  class="container">
                <div class="links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://instagram.com/safety_tech.1?utm_source=qr"><i class="fa fa-instagram"></i></a>
                </div>
                <p>DESENVOLVIDO POR SAFETY TECH</p>
            </div>
        </footer>


    
                   
        <!-- end footer -->
        <script src="C:\Users\Keyla Beatriz\safety_tech\public\js\main.js"></script>

</body>
</html>